* {
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    font-size: 20px;
    box-sizing: border-box;
}

nav {
    background: #0984e3;
}

.nav__responsive-ul {
    display: none;
}

.nav__li {
    display: inline-block;
    padding: 10px;
    color: #fff;
}

.nav__li:hover > a {
    color: #bbb;
}

.nav__li:hover > i {
    color: #bbb;
}

.nav__li a {
    color: #fff;
    text-decoration: none;
}

.nav__li i {
    width: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 5px;
}

/* ############################## */

.nav__responsive-button-container {
    font-size: 30px;
    color: #fff;
    background:#0984e3;
    height: 60px;
}

.nav__responsive-button {
    padding: 20px 30px;
    text-align: right;
    width: 100%;
}


@media only screen and (max-width: 700px) {
    .nav__ul {
        display: none;
    }

    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        height: 60px;
        padding: 0px;
        z-index: 100;
    }

    .nav__li-container {
        position: relative;
        background: #0984e3;
        top: -300px;
        transition: all 1s;
        z-index: -1;
    }

    .nav__responsive-li {
        width: 100%;
        padding: 9px 20px;
    }

    .nav__responsive-li i {
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: #fff;
    }

    .nav__responsive-li a {
        text-decoration: none;
        color: #fff;
    }

    .nav__responsive-button-container:hover > .nav__li-container {
        top: 0px;
    }
}